<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>AngularJS fileupload</title>
</head>
    <body>
        <div data-ng-controller="HomeCtrl">
        	<form name="upload" ng-submit="uploadFile()">
                <input type="file" name="file" file-reader="fileContent" uploader-model="file" /> <br>
                <input type="submit" value="Enviar"> 
            </form>
            <div>{{fileContent}}</div>
        </div>
        <script type='text/javascript' src="node_modules/angular/angular.js"></script>
        <script type='text/javascript' src="public/javascripts/controller.js"></script>
    </body>
</html>